## 프로젝트 기반 AI 빅데이터 서비스 솔루션 개발 전문과정

#### 교과목명 : 프로그래밍 언어 활용

- 평가일 : 22.06.27
- 성명 : 김덕현
- 점수 : 45

※ 문제당 5점으로 채점

#### 1. numbers 리스트에서 15, 20, 25를 출력하세요.(for문과 if 조건 사용 필수)  
numbers = [5, 15, 6, 20, 7, 25]

In [5]:
numbers = [5, 15, 6, 20, 7, 25]
for i in numbers:
    if i>5 :
        if i%5==0:
            print(i)

15
20
25

#### 2. 아래 사용자 함수, 변수 리스트 및 2개의 내장함수를 각각 이용해서  [1, 4, 9, 16, 25], [1, 2]를 출력하세요.(내장함수 2개 사용 필수)

In [102]:
# 함수를 선언합니다.
def power(item):
    return item * item
def under_3(item):
    return item < 3

# 변수를 선언합니다.
list_input_a = [1, 2, 3, 4, 5]

In [112]:
li=[]
li2=[]
for i in list_input_a:
    result = power(i)
    li.append(result)
for j in list_input_a:
    if under_3(j)==True:
        li2.append(j)
print(li,li2)

[1, 4, 9, 16, 25] [1, 2]

#### 3. 정수를 입력하면 짝수 홀수 여부를 반환해주는 프로그램을 작성하세요.(정수 입력 후 '짝수', '홀수'가 일치하게 출력)

In [13]:
number=int(input('숫자입력:'))
if number%2==0:
    print("짝수")
else:
    print("홀수")

숫자입력: 19

홀수

#### 4. 람다 함수를 이용해서 a의 b제곱에서 a x b를 뺀 수를 구하는 식을 만들고 그 식을 이용해서  a, b가 아래와 같이 주어졌을 때 각각의 값을 구하세요. 
a = 2, b = 5 \
a= 5, b = 2

In [200]:
a = lambda a,b : a**b-(a*b)
print(a(2,5))
print(a(5,2))

22
15

#### 5. 123456789를 입력하면 천 단위로 콤마로 구분하여 출력하세요.

In [13]:
a=123456789
format(a,',')

'123,456,789'

#### 6. example_list = ["요소A", "요소B", "요소C"]를 파이썬 내장함수를 이용하여 아래와 같이 출력하세요. 
0번째 요소는 요소A입니다.\
1번째 요소는 요소B입니다.\
2번째 요소는 요소C입니다.

In [3]:
example_list = ["요소A", "요소B", "요소C"]
for i in range(3):
    print(f"{i}번째 요소는 {example_list[i]} 입니다.")

0번째 요소는 요소A 입니다.
1번째 요소는 요소B 입니다.
2번째 요소는 요소C 입니다.

#### 7. 97을 40으로 나눈 몫과 나머지를 내장함수를 이용하여 구하세요.(튜플로 출력 필수)

In [8]:
divmod(97,40)

(2, 17)

#### 8. list_number = [52, 273, 32, 72, 100]로 변수 선언하고 정수를 입력하면 그 정수 인덱스와 리스트에서 해당하는 값을 출력하는 프로그램을 작성하세요. 단, 모든 예외처리를 수행하며 특히 ValueError와 IndexError는 별도 구분해서 예외처리 한 후 '예외처리 완료'를 마지막으로 출력하세요.

- 4 입력시 \
정수 입력> 4 \
4번째 요소: 100
예외 처리 완료

- 문자 입력시 \
정수 입력> 가 \
정수를 입력해 주세요!
예외 처리 완료

- 5 입력시 \
정수 입력> 5 \
리스트의 인덱스를 벗어났어요!
예외 처리 완료

In [21]:
list_number = [52, 273, 32, 72, 100]
try:
    index_number = int(input("정수 입력>"))
    print(index_number,list_number[index_number])
except ValueError:
    print("정수를 입력해 주세요!")
except IndexError:
    print("리스트의 인덱스를 벗어났어요!")

정수 입력> 5

리스트의 인덱스를 벗어났어요!

#### 9. 사용자로부터 서로 다른 숫자 두 개를 입력받고 첫 번째 와 두 번째중 큰 숫자를 구하는 프로그램을 수행하세요.

In [24]:
def bignumber(a,b):
    li=[a,b]
    return max(li)
bignumber(3,4)

4

#### 10. 1부터 100까지 아래와 같은 방식으로 2개의 수를 곱해서 가장 큰 수를 구하세요.

 1 * 99 ...99 * 1

In [209]:
a=99
li=[]
for i in range(1,100):
    result = i*a
    li.append(result)
    a -=1
print(max(li))

2500

#### 11. 정규표현식을 사용하여 text에서 지역코드만 출력하세요.
text = "문의사항이 있으면 032-232-3245 으로 연락주시기 바랍니다."

In [23]:
import re
text = "문의사항이 있으면 032-232-3245 으로 연락주시기 바랍니다."
p = re.compile('[\b0-9]+')
a = p.search(text)
a.group()

'032'

#### 12. 'abcdefghij' 에 대하여 중첩을 적용한 서브그룹 5개로 컴파일하여 group()함수를 이용하여 'abcdefghi'와 e'를 출력하세요

In [27]:
import re
a = 'abcdefghij'
b = re.compile(r"(\w{4}(\w{1})\w{4})\w+")
m = b.search(a)
print(m.group(1))
print(m.group(2))

abcdefghi
e

#### 13. [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']에서 9와 'a'를 삭제 후 리스트로 출력하세요

In [52]:
li = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']
li.remove(9)
li.remove("a")
print(li)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'b', 'c']

#### 14. 500 ~ 1000사이의 정수 중 5와 7의 공배수의 합을 구하세요

In [11]:
li=[]
for i in range(500,1001): 
    if i%5==0 and i%7==0:
        li.append(i)
        result = 0
        result += i
print(sum(li))
print(result)

10535
1000

#### 15. [    ]을 채워서 아래와 같이 출력하세요.
[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [41]:
numbers = [1,2,3,4,5,6,7,8,9]
output = [[], [], []]

for number in numbers:
    output[(number%3)-1].append(number)
print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

####  16. numbers 내부에 들어 있는 숫자가 몇 번 등장하는지를 출력하는 코드를 작성하세요.
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

In [171]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
numbers.sort()
for i in range(len(numbers)):
    if numbers[i]==9:
        print(9,numbers.count(9))
    elif numbers[i]!=numbers[i+1]:
        print(numbers[i],numbers.count(numbers[i]))

2 2
3 4
4 2
5 2
6 2
7 2
8 2
9 2
9 2

In [197]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
counter = {}
for number in numbers:
    if number in counter:
        counter[number] += 1
    else:
        counter[number] = 1
print(counter)

{3: 4, 6: 2, 5: 2, 8: 2, 2: 2, 9: 2, 7: 2, 4: 2}

#### 17. 클래스 Country를 완성하여 아래와 같이 출력하세요.

In [31]:
class Country:
    def __init__(self,name,num,capital):
        self.name = name
        self.num = num
        self.capital= capital
        
        print(f'{name}의 인구는 {num}천만명이며 수도는 {capital}입니다.')
        
    def desc(self):
        pass

class Korea(Country):    
    
    def desc1(self,gnp):
        self.gnp = gnp
        print('1인당 gnp는 USD %d만입니다.' %self.gnp)
        
obj = Korea('한국',5,'서울')
obj.desc()
obj.desc1(3)

한국의 인구는 5천만명이며 수도는 서울입니다.
1인당 gnp는 USD 3만입니다.

#### 18. 사칙연산을 수행하는  클래스를 작성하여 객체를 만들고 2개의 정수 10, 5를 입력한 후 연산 결과를  포멧을 이용하여 출력하세요.

In [45]:
class Calcul():
    def sum_1(self,a,b):
        return a+b
    def sub_1(self,a,b):
        return a-b
    def mul_1(self,a,b):
        return a*b
    def dim_1(self,a,b):
        return a/b
a = Calcul()
print(a.sum_1(10,5))
print(a.sub_1(10,5))
print(a.mul_1(10,5))
print(a.dim_1(10,5))

15
5
50
2.0

#### 19. 올해 경과된 날짜수를 계산하여 출력하세요.

In [32]:
import time
ctime=time.strftime('%j',time.localtime(time.time()))
ctime

'178'

#### 20. 2015년 인기순 상위5개 여아이름별 출생아수를 출력하세요.('data/names/yob2015.txt')

In [57]:
with open("yob2015.txt","r")as f:
    a= f.readlines()
counter=[]
for i in a:
    b = i.split(",")
    if b[1]=="F":
        counter.append((int(b[2]),b[0]))
counter.sort(reverse=True)
for j in range(5):
    print(f"{j+1}위 {counter[j][1]},{counter[j][0]}")

1위 Emma,20463
2위 Olivia,19705
3위 Sophia,17430
4위 Ava,16383
5위 Isabella,15633

In [49]:
with open("yob2015.txt", 'r') as fr:
    lines = fr.readlines()
count_g_names = []
for line in lines:
    tmp = line.split(',')
    if tmp[1] == 'F':
        count_g_names.append((int(tmp[2]), tmp[0]))
count_g_names.sort(reverse = True)
for i in range(5):
    print(f"{i}위 이름은 {count_g_names[i][1]}로, 출생아수는 {count_g_names[i][0]}")

0위 이름은 Emma로, 출생아수는 20463
1위 이름은 Olivia로, 출생아수는 19705
2위 이름은 Sophia로, 출생아수는 17430
3위 이름은 Ava로, 출생아수는 16383
4위 이름은 Isabella로, 출생아수는 15633

In [ ]:
import pandas as pd

df = pd.read_table('./data/yob2015.txt', sep=',',
names=['name', 'gender', 'number'])
df = df.sort_values(by='number', ascending=False)
df = df[df['gender'] == 'F']
df.head()

In [53]:
li = [[456,"abc"],[444,"ddd"],[457,'eee']]
li.sort(reverse=True)
li

[[457, 'eee'], [456, 'abc'], [444, 'ddd']]

In [55]:
li = [["abc",456],["ddd",444],['eee',457]]
li.sort(reverse=True)
li

[['eee', 457], ['ddd', 444], ['abc', 456]]

In [56]:
li = [["abc",456],["zdd",444],['eee',457]]
li.sort(reverse=True)
li

[['zdd', 444], ['eee', 457], ['abc', 456]]