### 6월 17일

In [3]:
# 1부터 10까지의 수가 홀수인지 짝수인지를 판별하여 나타내 주세요

In [1]:
for i in range(1,11):
    if i%2==0:
        print(f"{i}는 짝수 입니다")
    else :
        print(f"{i}는 홀수 입니다")

1는 홀수 입니다
2는 짝수 입니다
3는 홀수 입니다
4는 짝수 입니다
5는 홀수 입니다
6는 짝수 입니다
7는 홀수 입니다
8는 짝수 입니다
9는 홀수 입니다
10는 짝수 입니다

In [2]:
# 35부터 155까지 합과 갯수를 구하고 아래문장대로 출력하세요.
# " 35부터 155까지 합은 00이고 개수는 00입니다."

In [ ]:
sum = 0
count = []
for i in range(35,156):
    if i%2 != 0:
        sum += i
        count.append(i)
print(f"35부터 155까지 합은 {sum}이고 개수는 {len(count)}입니다")

In [1]:
#while 문을 사용하여 100이하 3의 배수의 합을 구하시오

In [ ]:
sum = 0
a= 0
while a <=100:
    a+=1
    if a%3 ==0 :
        sum += a
          
print(sum)

In [3]:
i = 0
sum = 0
while True:
    i += 1
    if i % 3 == 0:
        sum += i
    
    if i >= 100: break
print(i, sum)

100 1683

In [4]:
# a= [1,2,3,4]일때, b=[1,222,3,4]로 수정하시오.(단,a는 변화 없음)

In [5]:
a = [1, 2, 3, 4]
b = a.copy()
b[1] = 222
print(a)
print(b)

[1, 2, 3, 4]
[1, 222, 3, 4]

In [6]:
# a=[1,2,3,4,5,6,7,8,9] 에서 3의 배수들만 곱하여 다시 리스트를 출력하시오.

In [13]:
a=[1,2,3,4,5,6,7,8,9]
b=[]
for i in a:
    if i%3==0:
        i=i**2
        b.append(i)
    else :
        b.append(i)
b

[1, 2, 9, 4, 5, 36, 7, 8, 81]

In [15]:
# 아래 방법은 리스트를추가하지 않고 인덱스를 활용하여 원래 a리스트를 수정함

In [14]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
for i in range(9):
    if a[i] % 3 == 0:
        a[i] = a[i]**2
print(a)

[1, 2, 9, 4, 5, 36, 7, 8, 81]

In [16]:
for i in a:
    if i%3==0:
        i=i**2
        b.append(i)
    b.append(i)
print(b)

[1, 2, 9, 4, 5, 36, 7, 8, 81, 1, 2, 81, 81, 4, 5, 1296, 1296, 7, 8, 6561, 6561]

In [17]:
# a=[1,2,3,4,5,6,7,8,9] 에서 list comprehension을 이용하여 제곱한 값을 리스트에 넣어주세요

In [18]:
a=[1,2,3,4,5,6,7,8,9]
li=[]
for i in a:
    if i%3 == 0:
        i=i**2
        li.append(i)
print(li)

[i**2 for i in a]

[9, 36, 81]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [21]:
a=[1,2,3,4,5,6,7,8,9]
li = [i**2 for i in a if i%3 == 0]
li

[9, 36, 81]

In [23]:
# while문을 활용하여 3와 7의 배수의 합을 구하시오. 100이하sum

In [26]:
sum = 0
a=0
while a<100:
    a+=1
    if a%3==0 or a%7 ==0:
        sum+=a

print(sum)

2208

In [28]:
# while 문과 continue와 if문 이용하여 1부터 100까지의 수중 
# 3의 배수와 7의 배수를 제외한 모든 수의 합을 구하시오

In [30]:
sum = 0
a=0
while a<=100:
    a+=1
    if a%3==0 or a%7 ==0:
        continue
    sum+=a

print(sum)

2943

In [35]:
# 1부터 6까지의 곱한 값은?
a = 1 

for i in range(1, 7):
    a *= i
print(a)

720

# 6월 20일

In [2]:
def add_mul(choice,*a):   

    sum=0
    mul=1
    if choice=='sum':
        for i in a:
            sum+=i
        return sum
    if choice=='mul':
        for i in a:
            mul*=i
    return mul

In [9]:

print(add_mul('mul',1,2,3))
print(add_mul('sum',1,2,3))

0
6

In [6]:
def add_mul(choice,*a):   

    sum=0
    mul=1
    if choice=='sum':
        for i in a:
            sum+=i
    return sum
    if choice=='mul':
        for i in a:
            mul*=i
    return mul

In [8]:
print(add_mul('mul',1,2,3))
print(add_mul('sum',1,2,3))

0
6

## 함수를 이용하여 1부터 15까지 더하시오 (def 활용)--- def add():

In [11]:
def add():
    sum = 0
    for i in range(1,16):
        sum += i
    return sum

In [12]:
add()

120

## 11,2,3,4,5,6,7,8,9,10] 중 홀수만 3을 곱하여 출력하기

In [15]:
li = [1,2,3,4,5,6,7,8,9,10]
li2 = []
for i in li:
    if i%2!=0:
        li2.append(i*3)

In [16]:
li2

[3, 9, 15, 21, 27]

In [20]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = [i*3 for i in a if i % 2 == 1]
print(result)

[3, 9, 15, 21, 27]

In [19]:
li = list(range(1,11))
li = [i*3 for i in li if i%2==1]

## 1. factorial을 계산하는 함수를 for문으로 만드세요. (def factorial(n):   (for문을 활용하여)
## 2. 재귀함수로

In [25]:
def factorial(n):
    result = 1
    for i in range(1,n+1):
        result *= i
    return result

In [44]:
factorial(5)

120

In [41]:
def f(n):
    if n == 1:
        return 1
    return n*f(n-1)

In [43]:
f(5)

120

In [45]:
# 피보나치 수열

In [52]:
def p(n):
    if n==1:
        return 0 
    elif n==2:
        return 1
    return p(n-1)+p(n-2)

In [53]:
p(10)

34

In [54]:
def p(n):
    if n== 2 or n==1:
        return 1
    return p(n-1)+p(n-2)

In [55]:
p(5)

5

## 3자리 수를 입력 받아서 각 자리수의 숫자들을 반환하는 함수를 작성하라. ``` ex) 인수가 265일 경우 (2,6,5)를 반환```

In [105]:
a=input("세 자리수 입력")
for i in range(0,len(a)):
    print(a[i],end=' ')

세 자리수 입력 456

4 5 6

In [73]:
def ret(n):
    a = n//100 
    b = (n-a*100)//10
    c = (n-a*100-b*10)
    print(a,b,c)

In [74]:
ret(456)

4 5 6

In [85]:
def si(n):
    a = str(n)
    for i in range(3):
        print(a[i],end=',')

In [86]:
si(456)

4,5,6,

## 임의의 두 수의 합을 처음 부른 수로 나누는 식을 만들어보세요.

In [106]:
def cal(a,b):
    return (a+b)/a

In [107]:
cal(3,6)

3.0

In [108]:
# 위 식을 람다함수로 변형해주세요.

In [114]:
(lambda a,b: (a+b)/a) (3,6)

3.0

In [115]:
# thanks.txt 에 다음 두줄을 저장하세요.
# "Hello"
# "Thank you"

In [123]:
with open("thank.txt","w") as f:
    f.write("Hello\n""Thank you")
    f.write("Thank you")

In [127]:
f= open("thank.txt","w"):
    f.write("Hello\n")
    f.write("thank you")
    f.close()

SyntaxError: invalid syntax (<ipython-input-127-d713fee346ad>, line 1)

In [ ]:
# Some Greenland polar bears adapt to hunt without sea ice
# Yen falls as Bank of Japan bucks rate rise trend

In [128]:
with open("thanks.txt","w") as f:
    f.write("Some Greenland polar bears adapt to hunt without sea ice\n")
    f.write("Yen falls as Bank of Japan bucks rate rise trend")

In [129]:
# 불러오시오. readlines() 를 이용하여

In [135]:
f = open("thanks.txt",'r')
lines = f.readlines()
for line in lines:
    print(line,end='')
f.close()

Some Greenland polar bears adapt to hunt without sea ice
Yen falls as Bank of Japan bucks rate rise trend

```
menu = {'아메리카노':1000,'카페라떼':2000,'쿠키':1500,'베이글':3000,'사과쥬스':3500}
order라는 사용자 정의함수를 만듭니다.
원하는 메뉴만 1개이상 5개이하로 여러개를 입력받는다. 
그 만큼 결제금액을 출력합니다.
```

In [150]:
menu = {'아메리카노':1000,'카페라떼':2000,'쿠키':1500,'베이글':3000,'사과쥬스':3500}
def order(*li):

    for i in li:
        menu.keys()=="i":
            result = 0
            result += i.values()
    return print(result)

SyntaxError: invalid syntax (<ipython-input-150-310455d00487>, line 5)

In [148]:
menu = {'아메리카노':1000,'카페라떼':2000,'쿠키':1500,'베이글':3000,'사과쥬스':3500}
def order(*args):
    sum=0
    print("<주문 목록>")
    print("="*20)
    for i in args:
        print(i+"\n")
        sum += menu[i]
    print("="*20)
    print(f"총 금액은 {sum}입니다.")

In [149]:
order("아메리카노","쿠키","베이글","아메리카노")

<주문 목록>
====================
아메리카노

쿠키

베이글

아메리카노

====================
총 금액은 6500입니다.

``` 
해당ㅇ 숫자가 소수인지를 확인하는 함수를 만드시오. 
def sosu(n):
13은 소수 입니다.
10은 소수가 아닙니다.
```

In [163]:
def sosu(n):
    if n == 1 :
        return f'{n}는 소수가 아닙니다.'
    for i in range(2,n):
        if n%i==0:
            return f'{n}은 소수가 아닙니다.'
    return f'{n}은 소수 입니다.'

In [165]:
sosu(2)

'2은 소수 입니다.'

In [170]:
class Calculator:
    def __init__(self):
        self.result = 0
        
    def add(self, num):
        self.result += num
        return self.result
    
    def subtract(self, num):
        self.result -= num
        return self.result
    
cal = Calculator()
cal.add(3)

3

# 6월 21일

In [3]:
class Person:
    def __init__(self):
        self.name = "Park"
        self.age = int(input("나이:"))
        
p1=Person()

나이: 4

In [4]:
p1.name
p1.age

4

In [8]:
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
    def show(self):
        print(f"이름은 {self.name} 이고 나이는 {self.age} 입니다.")
        
p1=Person("park",20)
print(p1.name)
print(p1.age)

park
20

In [9]:
p1.show()

이름은 park 이고 나이는 20 입니다.

In [12]:
class Person:
    def __init__(self):
        self.name = input("이름")
        self.age = input("나이")
        
    def show(self):
        print(f"이름은 {self.name} 이고 나이는 {self.age} 입니다.")
        
li=[]
for i in range(3):
    li.append(Person())

이름 길동
나이 25
이름 전우치
나이 22
이름 철수
나이 55

In [15]:
li

[<__main__.Person at 0x6480fe31f0>,
 <__main__.Person at 0x6480fe3100>,
 <__main__.Person at 0x6480fe3130>]

In [17]:
for i in range(3):
    li[i].show()

이름은 길동 이고 나이는 25 입니다.
이름은 전우치 이고 나이는 22 입니다.
이름은 철수 이고 나이는 55 입니다.

In [20]:
for obj in li:
    obj.show()

이름은 길동 이고 나이는 25 입니다.
이름은 전우치 이고 나이는 22 입니다.
이름은 철수 이고 나이는 55 입니다.

In [21]:
marks = [5,6,11,15,2]
number = 0
for i in marks:
    number += 1
    if i <10 : continue
    print("%d번 학생 축하하비낟. 합격입니다." %number)

3번 학생 축하하비낟. 합격입니다.
4번 학생 축하하비낟. 합격입니다.

In [5]:
with open("mytest1.txt","w") as f:
    for i in range(1,11):
        data = "%d 번째 줄입니다.\n" %i
        f.write(data)
f.close()

In [6]:
f = open("mytest1.txt","r")
line = f.readline()
print(line)
f.close()

1 번째 줄입니다.

In [10]:
f= open("mytest1.txt","r")
data = f.read()
print(data)
f.close()

1 번째 줄입니다.
2 번째 줄입니다.
3 번째 줄입니다.
4 번째 줄입니다.
5 번째 줄입니다.
6 번째 줄입니다.
7 번째 줄입니다.
8 번째 줄입니다.
9 번째 줄입니다.
10 번째 줄입니다.

In [11]:
f= open("mytest1.txt","r")
while True:
    line = f.readline()
    if not line: break
    print(line)
f.close()

1 번째 줄입니다.

2 번째 줄입니다.

3 번째 줄입니다.

4 번째 줄입니다.

5 번째 줄입니다.

6 번째 줄입니다.

7 번째 줄입니다.

8 번째 줄입니다.

9 번째 줄입니다.

10 번째 줄입니다.

In [12]:
f= open("mytest1.txt","r")
lines = f.readlines()
for line in lines:
    print(line)
f.close()

1 번째 줄입니다.

2 번째 줄입니다.

3 번째 줄입니다.

4 번째 줄입니다.

5 번째 줄입니다.

6 번째 줄입니다.

7 번째 줄입니다.

8 번째 줄입니다.

9 번째 줄입니다.

10 번째 줄입니다.

In [17]:
import pickle
li = [1,2,3]

with open("a","wb") as f:
    pickle.dump(li,f)

with open("a","rb") as f:
    data = pickle.load(f)
print(data)

[1, 2, 3]

In [18]:
import pickle
li = [1,2,3]

with open("a","wb") as f:
    pickle.dump(li,f)

with open("a","rb") as f:
    data = pickle.load(f)
print(data)

[1, 2, 3]

In [29]:
class Ham:
    def __init__(self):
        self.name = "A버거"
        self.price = 1000

class Ham_B(Ham):
    def __init__(self):
        super().__init__()
        self.price = 2000

a=Ham_B()
a.price

2000

In [ ]:
class Ham:
    def __init__(self):
        self.name = "A버거"
        self.price = 1000

class Ham_B(Ham):
    def __init__(self):
        super().__init__()
        self.price = 2000

# 6월 22일

In [2]:
def add(a,b):
    return a+b
print(add(3,4))

7

In [3]:
add = lambda a,b:a+b
print(add(3,4))

7

In [24]:
import pickle

with open ('test1.txt','wb') as f:
    a= {1:2,3:4}
    pickle.dump(a,f)
f.close()

In [28]:
with open ('test1.txt','rb') as f:
    a = pickle.load(f)
    print(a)

{1: 2, 3: 4}

1. PY 라는 디렉토리를 만듭시다
2. PY 디렉토리를 워킹디렉토리로 지정합니다
3. 워킹디렉토리를 확인합시다.
4. '1,2,3,4,5,...10,' 가 들어있는 number.txt를 저장합시다.
5. number.txt 를 지웁시다. # <- os.remove("파일이름")
6. 워킹디렉토리를 C:/Users/admin 으로 합시다
7. PY디렉토리를 지웁니다.

In [118]:
import os
os.mkdir('PY')
os.chdir('c:/Users/admin/PY')
os.getcwd()
with open("number3.txt","w") as f:
    for i in range(1,11):
        f.write(f"{i},")
os.remove('number3.txt')
os.chdir("c:/Users/admin")
os.rmdir("c:/Users/admin/PY")

FileNotFoundError: [WinError 2] 지정된 파일을 찾을 수 없습니다: 'c:/Users/admin/PY1'

In [50]:
import glob
glob.glob("C:/Users/admin/*txt")

['C:/Users/admin\\myfile.txt',
 'C:/Users/admin\\number.txt',
 'C:/Users/admin\\number1.txt',
 'C:/Users/admin\\test1.txt',
 'C:/Users/admin\\test2.txt',
 'C:/Users/admin\\test3.txt',
 'C:/Users/admin\\zuoye.txt']

In [61]:
import time
time.localtime(time.time())

time.struct_time(tm_year=2022, tm_mon=6, tm_mday=22, tm_hour=13, tm_min=43, tm_sec=10, tm_wday=2, tm_yday=173, tm_isdst=0)

In [62]:
time.ctime()

'Wed Jun 22 13:43:25 2022'

In [66]:
time.strftime("%Y/%m/%d %I:%M:%S",time.localtime(time.time()))

'2022/06/22 01:46:35'

In [69]:
import random
random.random()

0.019064296470859277

In [71]:
random.randint(1,2)

1

In [90]:
random.choice([1,2,4,5])
li=[1,2,3,4]

In [98]:
random.shuffle(li)

In [99]:
li

[1, 3, 2, 4]

In [113]:
random.seed(3)
random.randint(1,4)

2

random.uniform(1,2)

In [136]:
import sys
with open("memo.txt","w") as f:
    line = sys.argv[1]
    f.write(line)
    line = sys.argv[2]
    f.write(line)

In [138]:
with open('memo.py','w') as f:
    f.write("""import sys
arg = sys.argv[1]
if "-a" == arg:
    with open('test.txt','a') as f:
        arg = sys.argv[2]
        f.write(arg)
        f.write("\\n")
        arg = sys.argv[3]
        f.write(arg)
        f.write("\\n")
    
else:
    with open('test.txt','w') as f:
        arg = sys.argv[1]
        f.write(arg)
        f.write("\\n")
        arg = sys.argv[2]
        f.write(arg)
        f.write("\\n")""")

1. time을 활용하여 현재 연도부터 초까지 아래 형식으로 나오게하세요.
" 2022/06/22 17:52:10"

In [140]:
import time
time.strftime("%Y/%m/%d %H:%M:%S",time.localtime(time.time()))

'2022/06/22 17:16:38'

2. 다음 문장에서 "LIFE" 의 인덱스 번호를 구하세요.
" Incredible stories and treasured photographs from the LIFE archive"

In [152]:
import re
p = re.compile("[Incredible stories and treasured photographs from the LIFE archive]")
sentence = ["Incredible stories and treasured photographs from the LIFE archive"]

In [153]:
p.findall("LIFE",sentence)

TypeError: 'list' object cannot be interpreted as an integer

In [154]:
sentence = "5781893764865982LIFE17289734"
for i in p.finditer(sentence):
    print(i.group())
    print(i.start())
    print(i.end())
    print(i.span())
    print

L
16
17
(16, 17)
I
17
18
(17, 18)
F
18
19
(18, 19)
E
19
20
(19, 20)

# 6월 23일

In [2]:
import os
os.getcwd()

'C:\\Users\\admin'

In [3]:
import glob
glob.glob("*txt")

['0622.txt', 'memo.txt', 'myfile.txt', 'test.txt', 'zuoye.txt', '새 텍스트 문서.txt']

In [14]:
with open ("fa.txt","r") as f:
    a=f.readlines()
    for i in a:
        print(i,end="")

Life	is	too	short
You	need	python

In [17]:
import sys

#src = sys.argv[1]
#dst = sys.argv[2]

src = "a.txt"
dst = "b.txt"


with open(src,mode="r") as f:
    lines = f.readlines()
    with open(dst,"w") as fw:
        for line in lines:
            a = line.replace("\t","    ")
            fw.write(a)