# Series

In [1]:
import pandas as pd

In [4]:
s = pd.Series(["a","b","c"])  # 1차원 자료를 시리즈라 한다

In [6]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [7]:
s.values

array(['a', 'b', 'c'], dtype=object)

In [14]:
s  # 판다스에서 글자는 오브젝트다

0    a
1    b
2    c
dtype: object

In [12]:
sdata = {"Ohio":35000,"Texas":71000}
s1 = pd.Series(sdata)

In [13]:
type(s1)

pandas.core.series.Series

In [16]:
s1

Ohio     35000
Texas    71000
dtype: int64

In [20]:
s1.index  # 글자도 인덱스가 될수 있다.

Index(['Ohio', 'Texas'], dtype='object')

In [21]:
s1['Ohio']   # 글자도 인덱스가 될수 있다.

35000

## DataFrame

In [23]:
pd.DataFrame([[1,2],[3,4]]) #세로가 인덱스 가로는 칼럼(columns)

   0  1
0  1  2
1  3  4

In [24]:
pd.DataFrame([[1,2],[3,4]], index = ["a","b"])

   0  1
a  1  2
b  3  4

In [26]:
pd.DataFrame([[1,2],[3,4]], index = ["a","b"], columns = ["A","B"])

   A  B
a  1  2
b  3  4

In [27]:
pd.DataFrame([{"key1":1,"key2":2}])

   key1  key2
0     1     2

In [30]:
pd.DataFrame([{"key1":[1,3],"key2":[2,4]}])

     key1    key2
0  [1, 3]  [2, 4]

In [31]:
pd.DataFrame({"key1":[1,3],"key2":[2,4]}) # 키값이 칼럼의 이름으로 간다(딕셔너리 경우)

   key1  key2
0     1     2
1     3     4

In [32]:
pd.DataFrame({"key1":[1,3],"key2":[2,4]}, index = ["a","b"])

   key1  key2
a     1     2
b     3     4