In [41]:
!pip install xlrd

Requirement already satisfied: xlrd in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (2.0.1)

In [11]:
import pandas as pd
import numpy as np
import urllib.request
import matplotlib as mpl
import matplotlib.pylab as plt
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
from bs4 import BeautifulSoup

In [9]:
df=pd.read_csv('자료/서울시 무더위쉼터.csv',encoding='cp949')
df.head()

,시설번호,년도,지역코드,시설유형,쉼터명칭,도로명주소,지번상세주소,면적,이용가능인원,선풍기보유대수,...,입력시간,수정시간,사용여부,비고,운영시작일,운영종료일,경도,위도,X좌표,Y좌표
0,1120000293,2022,1120064500,13,옥수나들목 샘물창고,서울특별시 성동구 동호로 21 (옥수동),168-1,3,8,0.0,...,2022-07-27 14:45:55,2022-07-27 14:45:55,Y,NaN,NaN,NaN,127.017200,37.539900,201520.107996,548932.664564
1,1129000257,2022,1129057500,1,동선동 희망경로당,서울특별시 성북구 아리랑로4길 49-1,71-1,101,42,3.0,...,2021-07-28 11:21:52,2022-06-30 10:23:44,Y,NaN,20220520.0,20220930.0,127.018283,37.595875,201614.630757,555145.220399
2,1121500101,2022,1121577000,11,긴고랑공원,NaN,68-19,633,15,0.0,...,2021-05-21 16:50:03,2022-07-12 15:19:14,Y,NaN,NaN,NaN,127.090956,37.558969,208036.452235,551052.854595
3,1121500105,2022,1121583000,11,금모래공원,서울특별시 광진구 뚝섬로56길 28,651-50,1022,15,0.0,...,2021-05-21 17:00:13,2022-07-12 15:20:07,Y,NaN,NaN,NaN,127.082398,37.530181,207283.129192,547856.970880
4,1120000292,2022,1120010700,12,무지개텃밭 샘물창고,NaN,67-10,3,5,0.0,...,2022-07-27 14:44:13,2022-07-27 14:44:13,Y,NaN,NaN,NaN,127.040700,37.553600,203596.341571,550453.838547

In [28]:
df1 = df.iloc[:,1:8]
df1.head()

     년도        지역코드  시설유형        쉼터명칭                   도로명주소  지번상세주소    면적
0  2022  1120064500    13  옥수나들목 샘물창고  서울특별시 성동구 동호로 21 (옥수동)   168-1     3
1  2022  1129057500     1   동선동 희망경로당   서울특별시 성북구 아리랑로4길 49-1    71-1   101
2  2022  1121577000    11       긴고랑공원                     NaN   68-19   633
3  2022  1121583000    11       금모래공원     서울특별시 광진구 뚝섬로56길 28  651-50  1022
4  2022  1120010700    12  무지개텃밭 샘물창고                     NaN   67-10     3

In [35]:
import re
df1['도로명주소'] = re.sub('[^\w+구]','', str(df1['도로명주소']))
df1

,년도,지역코드,시설유형,쉼터명칭,도로명주소,지번상세주소,면적
0,2022,1120064500,13,옥수나들목 샘물창고,0000서울특별시성동구동호로21옥수동1100서울특별시성동구동호로21옥수동1200서울...,168-1,3
1,2022,1129057500,1,동선동 희망경로당,0000서울특별시성동구동호로21옥수동1100서울특별시성동구동호로21옥수동1200서울...,71-1,101
2,2022,1121577000,11,긴고랑공원,0000서울특별시성동구동호로21옥수동1100서울특별시성동구동호로21옥수동1200서울...,68-19,633
3,2022,1121583000,11,금모래공원,0000서울특별시성동구동호로21옥수동1100서울특별시성동구동호로21옥수동1200서울...,651-50,1022
4,2022,1120010700,12,무지개텃밭 샘물창고,0000서울특별시성동구동호로21옥수동1100서울특별시성동구동호로21옥수동1200서울...,67-10,3
...,...,...,...,...,...,...,...
4090,2022,1156065000,1,우성1차아파트 경로당,0000서울특별시성동구동호로21옥수동1100서울특별시성동구동호로21옥수동1200서울...,365-0,174
4091,2022,1156065000,1,건영아파트경로당,0000서울특별시성동구동호로21옥수동1100서울특별시성동구동호로21옥수동1200서울...,368-0,59
4092,2022,1121573000,2,광진노인종합복지관,0000서울특별시성동구동호로21옥수동1100서울특별시성동구동호로21옥수동1200서울...,364-15,3515
4093,2022,1121584000,2,자양종합사회복지관,0000서울특별시성동구동호로21옥수동1100서울특별시성동구동호로21옥수동1200서울...,581-2,184
4094,2022,1121573000,12,군자공원,0000서울특별시성동구동호로21옥수동1100서울특별시성동구동호로21옥수동1200서울...,115-1,642

In [62]:
filename = '자료/Report.xls'
# populdf = pd.read_xls('자료/Report.xls')
df5 = pd.read_excel('자료/Report.xls')
df5 = df5[['자치구','인구','인구.1','인구.2','65세이상고령자']]


df5=df5.rename(columns=df5.iloc[1])
df5.drop([df5.index[0]],inplace=True)
df5.drop([df5.index[0]],inplace=True)

df5

     자치구        계       남자       여자 65세이상고령자
2     합계  9732617  4716704  5015913  1628980
3    종로구   153684    74018    79666    28064
4     중구   131450    63869    67581    24742
5    용산구   236518   114571   121947    39461
6    성동구   291609   141662   149947    46896
7    광진구   353110   169525   183585    52604
8   동대문구   352592   172318   180274    62963
9    중랑구   393600   193623   199977    72851
10   성북구   442680   212277   230403    75719
11   강북구   300824   145934   154890    64961
12   도봉구   318100   154440   163660    65122
13   노원구   514445   247417   267028    89426
14   은평구   476013   227172   248841    88418
15  서대문구   317075   149805   167270    55012
16   마포구   378629   176886   201743    55168
17   양천구   449378   219882   229496    69953
18   강서구   578426   277797   300629    93924
19   구로구   419984   208027   211957    73864
20   금천구   244901   123959   120942    41819
21  영등포구   400241   198080   202161    63547
22   동작구   394649   190377   204272    67470
23   관악구   500336   250450   249886    80686
24   서초구   413677   197665   216012    61404
25   강남구   537338   257096   280242    79575
26   송파구   668261   321963   346298    99854
27   강동구   465097   227891   237206    75477

In [1]:
import requests
import urllib
from bs4 import BeautifulSoup
import pandas as pd
import json

url = 'http://apis.data.go.kr/1741000/HeatWaveCasualtiesRegion/getHeatWaveCasualtiesRegionList'
# url = 'http://apis.data.go.kr/1741000/HeatWaveCasualtiesRegion/getHeatWaveCasualtiesRegionList'
params ={'serviceKey' : 'xzdFSUzXm0ymcDjr13BCz5jPE2cH1oXyvkni+/0keg5o27HHhyCLqhiPewn/g9hQIr0rmfFLDwOY0tTXWUXBHg==', 'pageNo' : '1', 'numOfRows' : '3', 'type' : 'json', 'bas_yy' : '2020','count':'4'}

byte_data = requests.get(url, params=params)
response = byte_data.content
html = response.decode('utf-8')
df8 = json.loads(html)
items =df8['HeatWaveCasualtiesRegion'][1]['row']
df9 = pd.DataFrame(items)

# bs = BeautifulSoup(html,'html.parser')

# print(byte_data)
# # response= byte_data.read()
# html = byte_data.decode('cp949')
# # bs = BeautifulSoup(html,'html.parser')
# # # print(byte_data.content)
# df8 = df8['HeatWaveCasualtiesRegion']['row']
# df8 =pd.DataFrame(df8)
df9

,bas_yy,regi,tot,otdoor_subtot,otdoor_otdoor_wrkpl,otdoor_field,otdoor_farmland,otdoor_mountain,otdoor_river,otdoor_road,otdoor_resarea_arund,otdoor_etc,indoor_subtot,indoor_house,indoor_bildg,indoor_wrkpl,indoor_greenhouse,indoor_etc
0,2020,합계,1078,907,378,47,212,34,12,132,52,40,171,50,29,62,21,9
1,2020,서울,38,31,16,3,1,2,0,6,2,1,7,4,2,1,0,0
2,2020,부산,52,40,22,4,0,0,1,10,3,0,12,5,0,6,0,1

In [ ]:
import requests
import urllib
from bs4 import BeautifulSoup

url = 'http://apis.data.go.kr/1741000/HeatWaveCasualtiesRegion/getHeatWaveCasualtiesRegionList'
# url = 'http://apis.data.go.kr/1741000/HeatWaveCasualtiesRegion/getHeatWaveCasualtiesRegionList'
params ={'serviceKey' : 'xzdFSUzXm0ymcDjr13BCz5jPE2cH1oXyvkni+/0keg5o27HHhyCLqhiPewn/g9hQIr0rmfFLDwOY0tTXWUXBHg==', 'pageNo' : '1', 'numOfRows' : '3', 'type' : 'json', 'bas_yy' : '2019' }

byte_data = requests.get(url, params=params)
# response= byte_data.read()
html = byte_data.decode('cp949')
# bs = BeautifulSoup(html,'html.parser')
# print(byte_data.content)